<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/assets/styles/index.css" />
    <title>MarkedList</title>
    <style>
      .marked {
        color: #efc14e;
      }
    </style>
  </head>
  <body>
    <div id="app" style="margin-top: 2rem">
      <div class="container">
        <div class="form-group">
          <input type="search" v-model="filterText" />
        </div>
        <ul v-if="emails && emails.length>0">
          <!-- Данные добавляются в массив с ключами в кавычках при push объекта в массив. Если вывести массив в консоль- так показывает. 
             Интересно- так и должно быть ?
            [ { "value": "Eliseo@gardner.biz", "marked": false } ]
          Я думал- ключи должны добавляться без кавычек-->
          <li v-for="email in emailFilter" :class="{'marked' : email.marked}"> 
            {{ email.value }}
          </li>
        </ul>
      </div>
    </div>

    <script type="module" src="./script.js"></script>
  </body>
</html>
